* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html { 
    background: url(images/background_image_2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.circle-image {
    border-radius: 50%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    height: 5px;
    width: 0%;
    background: #040404;
    display: block;
    margin: auto;
    transition: 0.25s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #e6e6e6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 52px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #e6e6e6;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 40px;
    margin-left: 1%;
    margin-right: 1%;
}

.hero-btn:hover {
    border: 1px solid #3500D3;
    background: #3500D3;
    color: #e6e6e6;
    transition: 0.6s;
}

nav .fa {
    display: none;
}

@media screen and (max-width: 700px) {
    .circle-image {
        margin-top: 10%;
    }
    .text-box h1 {
        font-size: 20x;
    }
    
    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #282828;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: center;
        z-index: 2;
        transition: 0.4s;
    }
    
    .nav-links .fa {
        margin-top: 40%;
    }

    nav .fa {
        display: block;
        color: #e6e6e6;
        margin: 15px;
        font-size: 32px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .hero-btn {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

/* body */

.body {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-position: center;
    background-size: cover;
    position: relative;
}

h1 {
    color: #e6e6e6;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 1%;
}

.body .hero-btn {
    margin-top: 1%;
    margin-bottom: 1%;
}

.body .hero-btn:hover {
    border: 1px solid #240090;
    background: #240090;
}

p {
    color: #e6e6e6;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
}

.project-col {
    float: left;
    flex-basis: 31%;
    background: #3500D3;
    border-radius: 10px;
    padding: 20px 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
    box-sizing: border-box;
    color: #e6e6e6;
    transition: 0.25s;
}
  
h3 {
    text-align: center;
    font-weight: 600;
    color: #e6e6e6;
    margin: 10px 0;
}

.project-col:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
